// Couleurs de thèmes
$darkColour : #1c1c1e;
$redColour : rgb(133, 11, 11);
$greyColour : #666;
$lightGrey : rgb(211,211,211);
$whiteColour : #fefefe;
$darkTitle :  rgba(17, 8, 8, 0.657);;
$greenColour : #1c8347;
$blackColour : #000;

/*Police*/
@font-face{
    font-family: "roboto";
    src: url("fonts/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.woff");
}

//Media Queries
    // Mobiles
$screen-sm-max:568px;
    // Tablettes 
$screen-md-min: 568px;
    //Desktops
$screen-lg-min:1024px;
@mixin sm{
    @media(max-width: #{$screen-sm-max}){
        @content;
    }
}
@mixin md{
    @media(min-width: #{$screen-md-min}){
        @content;
    }
}
@mixin lg{
    @media(min-width: #{$screen-lg-min}){
        @content;
    }
}

#logo{
    background-color: $blackColour;
    img{
        height: 100%;
        width:8%
    }
}
body{
    font-family: "roboto";
    padding: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    h2{
        font-size: 85%;
        font-weight: bolder;
    }
    input{
        border-radius: 10px;
    }
}
#bookModel{
    position: relative;
    border: 1px solid $darkColour;
    background-color: $lightGrey;
    width: 60%;
    border-radius: 5px;
    text-align: start;  
    margin-bottom: 20px;
    @include sm{
        margin: auto;
        margin-bottom: 10px;
    }
    @include md{
        position: relative;
        height: 500px;
        width:40%;
    }
    @include lg{
        width: 22%;
    }
    .bookmark{
        float: right;
        margin-right: 4px;
        margin-top:-20px;
    }
    .descr{
        padding-bottom: 20px;
    }
}
.title{
    border:1px solid $greyColour;
    background-color: $lightGrey;
    border: none;
    box-shadow: 0px 10px 10px -10px $greyColour;
}
.addBook,.search,.cancel{
    background-color: $greenColour;
    color: $whiteColour;
    border-radius: 4px;
    height: 40px;
    width: 120px;
    margin: 10px;
}
.unavailable{
    bottom: 0;
    left: 5%;
    display: block;
    margin:auto;
    width: 90%;
    height:40%;  
    @include md{
        position: absolute;
    }  
}
#mainForm {
    font-size: small;
    text-align: start;
    input:invalid{
        border: 2px solid $redColour;
    }
    .cancel{
        background-color:$redColour;
        display: block;
    }
}
.errorMessage{
    color: $redColour;
}
#table {
    @include md{
        border-collapse: collapse;
        margin: auto;
        thead{
            background-color: $lightGrey;
            border: 2px solid $blackColour;
        }
        th,td{
            border: 2px solid $blackColour;
            padding: 20px;
            height: 50px;
            text-align: center;
            max-width: 100px;
        }
        tr:hover{
        background: $lightGrey;
        }
        td{  overflow: hidden;
        }
    }
}
img{
    height: 30px;
    width: 25px;
}
#authorInput,#titleInput{
    width: 95%;
    margin: 10px;
}

// Mode sombre
@media (prefers-color-scheme: dark) {
    body {
    background-color: $darkColour;
    color: #fefefe;
    }
    #logo{
        background-color: $darkColour
    }
    a {
    color: #5fa9ee;
    }
    img {
    filter: grayscale(20%);
    }
    h1{
        color: $darkColour;
    }
    thead,#bookModel{
        background-color: $greyColour;
    }    
    h4 span{
        color: $whiteColour;
    }
    h5 span{
        color: $whiteColour;
    }
    h4,h5{
        color: $darkTitle;
    }
    td,th{
        border: 2px solid $lightGrey;
    }
}
@include sm{
    #formulaire{
        display: block;
        margin: auto;
        justify-content: center;
    }
    #table{
        margin: auto;
        thead{
            display: none;
        }
        tr{
            display: block;
            margin-bottom: 50px;
        }
        td{
            display: block;
            border: 0;
            border-bottom: 1px solid rgb(211,211,211,.6);
            text-align: right;
        }
        td:before{
            content:attr(data-label);
            float: left;
            font-weight: bold;
            color: $greyColour;
        }
        td:hover{
            background: $lightGrey;
        }
    }
}
@include md{
    #searchResults{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        position: relative;
    }
}